@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");

:root {
  --accent-blue: #00b9f2;
  --accent-green: #009649;
  --white: #ffffff;
  --black: #555563;
  --grey: #838393;
  --field-border: #bebebe;
  --background: #f5f5f5;
  --text-on-image: #ffffff;
  --pure-black: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
